.cogs2 {
  z-index: 1;
  opacity: .3;
}

.oven{
  position:absolute;
  top: 25%;
  left: 25%;
  width:100%;
  height:100%;
}

.st1{fill:white;}
.cogs__circle-big{fill:#71A1BC;}
.st3{fill:none;stroke:white;stroke-width:6;stroke-miterlimit:10;}
.st4{fill:white;}
.st5{fill:white;}
.st7{fill:white;}
.st9{fill:#71A1BC;}
