.cogs {
  position: absolute;
  opacity: .3;
  bottom: 180px;
  right: 230px;
  transform: scale(.8);
  z-index: 1;
}

.spoke {
  background-color: white;
  position: absolute;
  height: 175px;
  width:30px;
  margin-left: -15px;
  margin-top: -12.5px;
  left: 50%;
  border-radius: 5px;
  z-index: 10;
}

.spoke + .spoke {
  transform: rotateZ(45deg);
}

.spoke + .spoke + .spoke {
  transform: rotateZ(-45deg);
}

.spoke + .spoke + .spoke + .spoke {
  transform: rotateZ(90deg);
}

.cog {
  position:absolute;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 10;
  animation: spin 5s infinite linear;
}
.cog + .cog {
  animation-delay:.19s;
  animation: spin2 5s infinite linear;
  margin-top: 160px;
  margin-left:30px;
}
.cog + .cog + .cog {
  animation: spin 5s infinite linear;
  margin-top: 65px;
  margin-left:165px;
}

.hole {
  position: absolute;
  width: 130px;
  height: 130px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #397798;
  border-radius: 50%;
  z-index: 3000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
