.button {
  border-radius: var(--sizes-radius);
  font-size: 1rem;
  padding: .5rem 1rem;
  transition: all .2s;
  box-sizing: border-box;
  text-decoration: none;
  align-self: flex-start;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.primary {
  background: var(--colors-gradient);
  color: white !important;
}

.primary:hover {
  background: var(--colors-gradientDark);
  box-shadow: var(--shadows-button);
}

.secondary {
  background: transparent;
  border: 1px solid var(--colors-text);
  color: var(--colors-text) !important;
}

.secondary:hover {
  background: var(--colors-bg2);
  box-shadow: var(--shadows-button);
}
