@keyframes scaleUp {
  0% { transform: translate(0, 1rem); }
  50% { transform: translate(.2rem, .5rem); }
  100% { transform: translate(0, 1rem); }
}

.circle {
  position: absolute;
  left: 1rem;
  height: 40rem;
  animation: scaleUp 10000ms infinite;
}

.circle svg {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  max-width: 20rem;
  height: 20rem;
  position: absolute;
  top: -10rem;
  right: 40%;
  transform: scale(.5);
}

@media (min-width: 600px) {
  .wrapper {
    transform: scale(1);
  }
}
