.textContent {
  grid-area: text;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--colors-bg0);
  height: fit-content;
  border-radius: 20px;
  z-index: var(--zIndices-featureTextBlock);
}

.imageWrapper {
  grid-area: image;
  max-width: 100%;
  width: 45rem;
  position: relative;
  top: 2rem;
  border-radius: 20px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 8rem;
}

@media (min-width: 900px) {
  .wrapper:nth-child(odd) {
    grid-template-areas: 'image text';
  }

  .wrapper:nth-child(odd) .textContent {
     margin-right: 0;
     margin-left: -10rem; /* marginBig */
  }

  .wrapper {
    display: grid;
    grid-template-areas: 'text image';
    margin-top: 5rem;
    flex-direction: row;
    margin-left: -8rem;
    margin-right: -8rem;
  }

  .wrapper .textContent {
    margin-right: -10rem;
    padding: 2rem;
    top: 20%;
    position: relative;
  }

  .wrapper .imageWrapper {
     max-width: 100vw;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    margin-left: -15rem;
    margin-right: -15rem;
  }

  .noImage {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .noImage .textContent {
    margin-left: 0;
    margin-right: 0;
    max-width: 800px;
  }
}

.header {
  font-size: 2rem;
  margin-top: 0;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--radius);
}
