.wrapper {
  margin-top: 3rem;
}

.wrapper a {
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.small {
  margin: 0;
  color: var(--colors-primary);
}

.heading {
  font-size: 2.8rem;
  margin: 0;
  margin-bottom: 2rem;
}
