---
layout: default
title: About us
namespace: about
permalink: /about
description: We're linked data web development specialists that can help you improve your data infrastructure.
---
  <div class="hero--about-wrapper">
    <img class="hero--about" src="/img/team.jpg" />
  </div>
  <div class="section">
    <div class="section__content">
      <div class="section__wrapper">
        <div class="text">
          <h1>{% t about.title %}</h1>
          {% translate_file about.md %}
          <h2>{% t home.contact.header %}</h2>
          {% include contact.html %}
        </div>
      </div>
    </div>
  </div>
<!-- <div class="section section--alt">
  <div class="section__content">
    <div class="section__wrapper">
      <div class="section__text">
        <h2>{% t about.team %}</h2>
        {% for author in site.data.authors %}
          <div class="post__preview">
            <h2>
              <a href="">{{ auhor.name }}</a>
            </h2>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div> -->
