<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <nav  id="navbar" class="nav__wrapper">
    <div class="nav">
      <a href="/" class="nav__logo">
        <svg width="166" height="166" viewBox="0 0 166 166" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25 40C33.2843 40 40 33.2843 40 25C40 16.7157 33.2843 10 25 10C16.7157 10 10 16.7157 10 25C10 33.2843 16.7157 40 25 40ZM25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50Z" transform="translate(18 88)" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25 40C33.2843 40 40 33.2843 40 25C40 16.7157 33.2843 10 25 10C16.7157 10 10 16.7157 10 25C10 33.2843 16.7157 40 25 40ZM25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50Z" transform="translate(100 88)" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25 40C33.2843 40 40 33.2843 40 25C40 16.7157 33.2843 10 25 10C16.7157 10 10 16.7157 10 25C10 33.2843 16.7157 40 25 40ZM25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50Z" transform="translate(58 16)" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5885 0C8.09119 6.33826 2.0155 15.7427 0 26.5744C0.750366 26.5182 1.50842 26.4896 2.27307 26.4896C4.9502 26.4896 7.54529 26.8402 10.0151 27.4981C11.777 19.3305 16.5621 12.2874 23.1411 7.59833C20.5555 5.45532 18.3356 2.88678 16.5885 0ZM61.405 7.59833C68.1362 12.3959 72.9896 19.6577 74.6484 28.0668C77.6696 27.0441 80.9065 26.4896 84.2731 26.4896C84.359 26.4896 84.4447 26.4899 84.5304 26.4907C82.4993 15.6942 76.4329 6.3219 67.9575 0C66.2104 2.88678 63.9906 5.45538 61.405 7.59833ZM55.4285 64.7631C56.3649 68.0337 57.8424 71.0756 59.7581 73.7858C54.416 76.1663 48.499 77.4896 42.2731 77.4896C36.6356 77.4896 31.2515 76.4047 26.3181 74.4323C28.3174 71.7574 29.8809 68.7377 30.9031 65.4785C34.4476 66.7794 38.2775 67.4896 42.2731 67.4896C46.9491 67.4896 51.3979 66.517 55.4285 64.7631Z" transform="translate(40.7269 57)" fill="white"/>
        </svg>
        <span>Ontola</span><span class="nav__logo__tld">.io</span>
      </a>
      <div class="nav__links">
        <a href="/">home</a>
        <a href="/blog">blog</a>
        <!-- <a href="/about">about</a> -->
        <a href="#footer">contact</a>
      </div>
    </div>
  </nav>
  <div class="container">
      {{ content }}
  </div>
  <div class="footer--wrapper" id="footer">
    <div class="footer">
      <div class="footer-row">
        <div href="/" class="footer__header">Ontola</div>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <!-- <a href="/about">About</a> -->
      </div>
      <!-- <div class="footer-row">
        <div href="/" class="footer__header">What we do</div>
        <a href="/linked-data">Linked Data</a>
        <a href="/ontology-modelling">Ontology Modelling</a>
        <a href="/data-infrastructure">Data Infrastructure</a>
        <a href="/web-development">Web Development</a>
      </div> -->
      <div class="footer-row">
          <div href="/" class="footer__header">Contact</div>
          <a href="tel:0031636020942">06 360 20 942</a>
          <a href="mailto:info@argu.co">info@argu.co</a>
          <a href="https://goo.gl/maps/x5Sggs9X7L32">Koningslaan 62, Utrecht, NL</a>
          <div><a href="https://argu.co">Argu B.V.</a> kvk 65684168<div>
        </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
  <script src="/js/navbarScroll.js"></script>
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
