<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <nav class="nav__wrapper">
    <div class="nav">
      <a href="#" class="nav__logo">
        <img src="img/logo.svg">
        Ontola
      </a>
      <div class="nav__links">
        <a href="#how-we-work">how we work</a>
        <a href="#contact">contact</a>
      </div>
    </div>
  </nav>
  <div class="container">
      {{ content }}
  </div>
  <div class="footer">
    Ontola is a registered trade name of <a href="https://argu.co">Argu B.V.</a>, kvk 65684168.
  </div>
  <script src="js/main.js"></script>
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
